body {
    max-width: 100vw; 
    overflow-x: hidden;
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    width: 100%;
    max-width: 1158px; 
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.nav.navigation {
    display: flex;
    align-items: center;
}
.container-header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 40px; 
}

.color {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
nav {
    font-weight: 500;
    color: #2E2F42;
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 100%; 
}
h1,h2,h3,h4,p {
    margin: 0;
}

nav ul li:last-child {
    margin-right: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.address {
    font-style: normal; 
    display: flex; 
    gap: 20px; 
}
.contact-link {
    text-decoration: none; 
    font-weight: normal;
}
.contact-link {
    color:#434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.contacts-list {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}


.contacts-list li:last-child {
    margin-right: 0;
}

.logo_web, .logo_studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
}

.logo_web {
    color: #4d5ae5;
    margin-right: 76px;
}

.logo_studio {
    color: #2e2f42; 
}
.logo_web, 
.logo_studio, 
.navi-link, 
.contact-link, 
.nav-list a {
text-decoration: none;    
}
.navi-link-menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block; 
}
.navi-link-menu:hover,
.navi-link-menu:focus  { 
    color: #404bbf;
}  
.contact-link:focus, 
.contact-link:hover
 { 
color: #404bbf; 
}

.nav-list li:first-child .navi-link {
    font-weight: 500;
}
h1 {
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
 line-height: 1.07;
 margin-bottom:  48px;       
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section_first {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 188px 0;
    background-color: #2e2f42;
    width: 100%; 
    box-sizing: border-box;
}

.section_first .container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    max-width: 1158px; 
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.section_first h1 {
    margin-bottom: 20px;
     max-width: 496px;
}
.section_first .button_hero {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 10px 20px; 
    cursor: pointer;
    border: none; 
    text-align: center;
    margin-top: 20px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}
.section_first .button_hero:hover,
.section_first .button_hero:focus {
    background-color: #404BBF; 
}
.section_first {
     background-color: #2e2f42;
    } 
    .section-second {
    padding: 40px 0; 
    padding: 120px 0;
    background-color: #FFFFFF;
}
.section-second .skills-text {
    text-align: left; 
}
.skills-list { 
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;    
}
 .skills-title {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
       color: #2e2f42; 
       line-height: 1.2;
       letter-spacing: 0.02em;
       margin-bottom: 8px;   
   }  
 .skills-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:  #434455;
    line-height: 1.5;

}
.our-team-list {
    display: flex;
    gap: 24px;
}    
.skills-list-item { 
    flex-basis: calc((100% - 3 * 24px) / 4); 
}
.team-item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-radius: 0px 0px 4px 4px; 
}
.skills-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px; 
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-item-title {
    font-family: "Roboto", sans-serif; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 24px; 
    color: #2e2f42;
    margin-bottom: 8px;

}
.team-item-description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455; 
   
}
 .team-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
 }
 .section-third {
    text-align: center;
    background-color: #F4F4FD;
    padding: 120px 0;   
    }
    .worker-name {
    padding: 32px 0;
}
.our-team-li {
       background-color: #FFFFFF;
    flex-direction: column;
    margin: 72px 0 120px;
    padding-bottom: 32px;
    row-gap: 48px;
    border-radius: 0px 0px 4px 4px;
}
.section-fourth {
    padding: 120px 0;
}
.our-team-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    margin: 0;
    row-gap: 48px;
    gap: 24px;
}

.main-text-section {
 font-family: "Roboto",sans-serif;
font-size: 36px;
line-height: 1.11;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;

text-transform: capitalize;
color: #2e2f42;
}
.main-text {
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
background: #2E2F42;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {   
width: calc((100% - 48px) / 3);
border-radius: 0px 0px 4px 4px;
 row-gap: 48px;    
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
     border-top: none; 
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}
.footer-text {
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}

footer .logo_studio {
    color: #F4F4FD;
}

footer .logo_web {
    color: #4d5ae5;
    margin-bottom: 16px;

}
.logo_web, 
.logo_studio {
    display: inline-block; 
}

span { 
    color: #f4f4fd;
}